.vpsNav {
  list-style: none;
  padding: 0;
  background: #f8f8f8;
  border-radius: 3px;
  margin-bottom: 25px;
  margin-top: 50px;
  color: #313131;
  font-size: 13px;
  line-height: 20px;
  direction: rtl;
  font-family: IRANSans;
  box-sizing: border-box;

  > li {
    color: #4b4b4b;
    font-size: 13px;
    line-height: 20px;
    direction: rtl;
    font-family: IRANSans;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    display: block;
    float: right;

    @media screen and (max-width: 785px) {
      float: unset;
      text-align: center;
    }

    > a {
      direction: rtl;
      list-style: none;
      box-sizing: border-box;
      background-color: transparent;
      text-decoration: none;
      position: relative;
      display: block;
      border-radius: 4px;
      margin-right: 2px;
      line-height: 2.75;
      color: #4b4b4b;
      font-size: 12px;
      padding: 10px 9px 10px 0;
      font-family: IRANSans;

      &:hover {
        color: #4b4b4b;
      }
    }
  }
}
