.card {
  color: #333;
  border: 1px solid #bef1ff;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 15px;
  width: 100%;
  .title {
    text-align: center;
    background-color: hsl(228, 85%, 13%);
    color: #ffffff;
    padding: 0;
    margin-bottom: 10px;
    h5 {
      padding: 15px 10px;
      margin: 0;
      font-size: 14px;
    }
  }
  .cardContent {
    width: 100%;
    padding: 10px;
    .monthPrice {
      margin-bottom: 10px;
      text-align: center;
      margin: 0 auto;
      > span {
        &:nth-child(1) {
          color: #ef6f1a;
        }
        &:nth-child(2) {
          font-size: 18px;
        }
      }
    }
    .hourPrice {
      font-size: 12px;
      text-align: center;
      margin-bottom: 10px;
      > span {
        &:nth-child(1) {
          color: #206ff5;
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 5px;
        &:nth-child(odd) {
          background-color: #efefef;
        }
        &:last-child {
          img {
            width: 16px;
            height: 16px;
            border-radius: 20px;
            cursor: wait;
          }
        }
        span:nth-child(2) {
          direction: ltr;
        }
      }
    }
    .cardBtn {
      text-align: center;
      a {
        font-size: 14px;
        transition: background-color 0.4s ease;
        background-color: #ef6f1a;
        color: #ffffff;
        &:hover {
          color: #fff;
          background-color: green;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
