.contentWrapper {
  position: relative;
  padding: 40px 10px;
  background-color: #fff;

  .newsWrapper {
    margin-top: 20px;

    .divider {
      margin-top: 20px;
      > div {
        background-image: url('/images/divider.png');
        opacity: 0.6;
        width: 100%;
        height: 12px;
      }
    }

    .commentsTitle {
      margin-top: 20px;
      font-weight: 400;
      font-family: BYekan, sans-serif;
      font-size: 15px;

      > h5 {
        margin-bottom: 10px;
        line-height: 24px;
        letter-spacing: 1px;
        margin-top: 0;
        font-size: 15px;
        font-weight: 400;
        font-family: BYekan, sans-serif;
      }
    }

    .sendCommentTitle {
      .header {
        display: flex;
        justify-content: space-between;

        > h5 {
          margin-bottom: 7px;
          line-height: 24px;
          letter-spacing: 1px;
          margin-top: 0;
          font-size: 15px;
          font-weight: 400;
          font-family: BYekan, sans-serif;
        }

        > .cancelBtn {
          margin-top: auto;
          font-weight: 400;
          text-align: center;
          white-space: nowrap;
          border: 1px solid transparent;
          padding: 6px 12px;
          height: min-content;
          font-size: 13px;
          line-height: 1.42857143;
          border-radius: 4px;
          color: #fff;
          background-color: #5bc0de;
          border-color: #46b8da;
          font-family: BYekan;

          &:hover {
            color: #fff;
            background-color: #31b0d5;
            border-color: #269abc;
          }
        }
      }

      > .divider {
        color: #313131;
        line-height: 20px;
        width: 100%;
        height: 1px;
        background-color: #e1e1e1;
        margin-bottom: -1px;
        margin-top: 3px;

        > div {
          color: #313131;
          line-height: 20px;
          width: 98px;
          height: 1px;
          background-color: #00c6ff;
          margin: 0 auto;
          float: right;
        }
      }
    }
  }
}
