.section {
  color: #313131;
  font-family: IRANSans;
  font-size: 13px;
  line-height: 20px;
  position: relative;
  padding: 40px 10px;
  background-color: #fff;
}

.blockquote {
  padding: 18px;
  color: #919191;
  font-size: 17px;
  line-height: 30px;
  font-style: italic;
  border-left: 0;
  border-right: 2px solid #3dc4e4;
  &:not(:first-child) {
    margin-top: 20px;
  }
  .title {
    direction: rtl;
    font-style: italic;
    color: inherit;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1px;
    font-family: BYekan;
  }
  > ul {
    padding-right: 0;
    > li {
      list-style: disc;
      padding-right: 10px;
      margin-right: 30px;
      font-family: IRANSans;
      font-style: normal;
      font-size: 14px;
      > a {
        color: #00db40;
        text-decoration: none;
        &:hover {
          color: #c96a00;
        }
      }
    }
  }
}
