.tableInfo {
  color: #717171;
  line-height: 1.95;
  margin-top: 20px;
  text-align: justify;
  font-family: IRANSans;
}

.table {
  color: #313131;
  font-size: 13px;
  line-height: 20px;
  direction: rtl;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  vertical-align: top;
  max-width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  display: flex;
  overflow: hidden;
  background: none;
  margin-top: 15px;
  border: 1px solid #ddd;
  font-family: BYekan;

  tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
  }

  > thead {
    color: #313131;
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: BYekan;
    box-sizing: border-box;
    min-width: 15%;
    background: #eee;
    display: block;
    flex-shrink: 0;

    tr {
      th {
        color: #313131;
        font-size: 13px;
        direction: rtl;
        white-space: nowrap;
        border-collapse: collapse;
        border-spacing: 0;
        font-family: BYekan;
        box-sizing: border-box;
        padding: 8px;
        display: block;
        line-height: 25px;
        border-bottom: 0;
        border-top: 0;
        min-width: 100px;
        text-align: left;
        border-top: 1px solid #ddd;
        transition-property: padding, height;
        transition-duration: 0.4s;

        &:first-child {
          font-family: var(--bs-font-sans-serif);
        }
      }
    }
  }

  > tbody {
    color: #313131;

    font-size: 13px;
    line-height: 20px;
    direction: rtl;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: yekan;
    box-sizing: border-box;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 85%;
    display: flex;
    flex: 1;

    tr {
      color: #313131;
      font-size: 13px;
      line-height: 20px;
      direction: rtl;
      white-space: nowrap;
      border-collapse: collapse;
      border-spacing: 0;
      font-family: yekan;
      box-sizing: border-box;
      flex-direction: column;
      min-width: 150px;
      border-left: 1px solid #eee;
      display: flex;
      flex: 1;

      td {
        color: #313131;
        font-size: 13px;
        direction: rtl;
        white-space: nowrap;
        border-collapse: collapse;
        border-spacing: 0;
        box-sizing: border-box;
        padding: 8px;
        display: block;
        line-height: 25px;
        border-bottom: 0;
        text-align: center;
        border-top: 1px solid #ddd;

        font-family: BYekan;
        font-weight: 100;
        background-color: #fff;
        transition-property: padding, height;
        transition-duration: 0.4s;

        > span.jUnlimited {
          color: #798f0e;
          font-family: BkoodakBold;
          font-size: 13px;
        }

        &:first-child {
          background-color: rgba(0, 0, 0, 0.075);
          font-family: var(--bs-font-sans-serif);
        }
      }
    }
  }
}
