.wrapper {
  @media screen and (max-width: 992px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 767px) {
    padding: 0 10px;
  }

  h3 {
    margin-bottom: 17px;
    font-size: 18px;
    font-family: IRANSans;
  }

  .row {
    padding-top: 32px;

    @media screen and (max-width: 767px) {
      padding-top: 0;
    }

    > div {
      &:first-child {
        > a {
          @media screen and (max-width: 767px) {
            border-top: 1px solid #dddddd;
            padding-top: 22px;
          }
        }
      }
    }

    .post {
      display: flex;
      margin-bottom: 32px;

      img {
        margin-left: 20px;
        height: 70px;
        width: 70px;
      }

      > .content {
        > .title {
          font-size: 13px;
          font-family: IRANSans;
          font-weight: 600;
        }
        > .time {
          font-size: 12px;
          font-family: IRANSans;

          color: #4b4b4b;

          margin-bottom: 10px;
        }
      }
    }
  }
}

/* ----------------------------- DARK -----------------------------*/

.wrapper.dark {
  h3 {
    color: #fffcfc;
  }
  > .line {
    border-bottom: 1px solid #dddddd;

    @media screen and (max-width: 767px) {
      border-bottom: none;
    }
  }

  .row {
    > div {
      &:first-child {
        > a {
          @media screen and (max-width: 767px) {
            border-top: 1px solid #dddddd;
          }
        }
      }
    }
    .post {
      > .content {
        > .title {
          color: #fffcfc;
        }
        > .time {
          color: #f0f0f0;
        }
      }
    }
  }
}
